@charset "UTF-8";

/* サイズ */
:root {
    --font-size-12px: 0.75rem;
    --font-size-14px: 0.875rem;
    --font-size-16px: 1rem;
    --font-size-18px: 1.125rem;
    --font-size-24px: 1.5rem;
    --font-size-36px: 2.25rem;
    --font-size-46px: 2.875rem;
    /*  */

    /* 太さ */
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-bold: 700;
    /*  */

    /* カラー */
    --red-color: #b22222;
    --blue-color: #1c1c3b;
    --white-color: #f5f5f5;
    --black-color: #121212;
    /*  */
}

/* モバイルサイズ -- 379px ~ 700px -- */
@media (min-width: 379px) and (max-width: 700px) {

    /* 全体 */
    .pc-container {
        display: none;
    }

    body {
        line-height: 1.5;
    }

    /*  */

    /* メニューボタン */
    .menu-button {
        font-size: var(--font-size-18px);
        width: 65px;
        height: 65px;

    }

    #nav-menu {
        padding: 30px;
        text-align: center;
    }

    .menu-items {
        gap: 20px;
    }

    .menu-items a {
        font-size: var(--font-size-18px);
    }

    .close-menu {
        top: 40px;
        right: 30px;
    }

    /*  */

    /* フッター */
    footer>p {
        font-size: var(--font-size-14px);
    }

    /*  */

    /* 共有 */
    .main-section .container {
        padding-bottom: 30px;
    }

    .concept-section .container,
    .rezent-section .container,
    .menu-section .container,
    .style-hair-section .container,
    .access-section .container,
    .news-section .container,
    .thank-section .container,
    .about-section .container,
    .types-section .container,
    .menu-option-section .container,
    .rezent-photos-section .container,
    .trend-hair-section .container {
        padding: 30px 0;
    }


    .section-title.rb {
        letter-spacing: .05rem;
        margin-left: 20px;
    }

    .section-sub.b {
        font-size: var(--font-size-14px);
        margin-left: 20px;
    }

    .rezent-detail,
    .menu-detail,
    .type-photos-detail,
    .booking-info-detail,
    .news-detail,
    .reservation-complete-detail {
        padding-left: 20px;
    }

    /*  */

    /* ヘッダー・メインセクション */
    .site-name .name,
    .site-name .name-number,
    .site-name .name-sub {
        font-size: var(--font-size-14px);
    }

    .site-name {
        gap: 10px;
    }

    .main-title {
        gap: 20px;
        width: 90%;
    }

    .title,
    .title-number {
        font-size: var(--font-size-46px);
    }

    .title-sub {
        font-size: var(--font-size-30px);
    }

    .loop-text p {
        letter-spacing: .05rem;
        margin-right: 50px;
    }

    @keyframes scrollText {
        0% {
            transform: translateX(0%);
        }

        100% {
            transform: translateX(-80%);
        }
    }

    /*  */

    /* コンセプトセクション */
    .concept-section .container .section-title.rw,
    .menu-section .container .section-title.bw,
    .style-hair-section .container .section-title.rw {
        letter-spacing: .05rem;
        margin-left: 20px;
    }

    .section-sub.w {
        font-size: var(--font-size-14px);
        margin-left: 20px;
    }

    .concept-section .wrapper>p,
    .menu-section .wrapper>p,
    .style-hair-section .wrapper>p,
    .concept-section .highlight-title {
        letter-spacing: .1rem;
    }

    .concept-section .wrapper>p,
    .menu-section .wrapper>p,
    .style-hair-section .wrapper>p {
        font-size: var(--font-size-18px);
    }

    .loop-news {
        bottom: 7%;
    }

    .inner {
        gap: 150px;
    }

    .active-link {
        gap: 10px;
    }

    @keyframes scrollNews {
        0% {
            transform: translateX(0%);
        }

        100% {
            transform: translateX(-30%);
        }
    }

    .inner-title {
        font-size: var(--font-size-16px);
    }

    .text>p {
        font-size: var(--font-size-14px);
    }

    /*  */

    /* リーゼントセクション */
    .rezent-section .wrapper {
        margin: 20px;
    }

    .rezent-section .detail-link,
    .style-hair-section .detail-link {
        padding: 5px 10px;
        margin-top: 20px;
    }

    .loop-img {
        height: 160px;
        bottom: 10%;
    }

    .loop-img img {
        height: 160px;
    }

    @keyframes loop-scroll {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-30%);
        }
    }

    /*  */

    /* メニューセクション */
    .menu-section .wrapper {
        margin-top: 20px;
    }

    .menu-section .first,
    .menu-section .second {
        letter-spacing: .1rem;
    }

    .menu-section .second {
        margin-top: 10px;
    }

    .menu-section .detail-link {
        padding: 5px 10px;
        margin-top: 30px;
    }

    /*  */

    /* メニューボーダーセパレート */
    .menu-border-separator,
    .border-separator {
        width: 80%;
    }

    /*  */

    /* ヘアスタイルセクション */
    .style-hair-section .wrapper {
        margin-top: 20px;
    }

    .lead {
        margin-bottom: 10px;
    }

    .style-hair-section .second {
        margin-top: 10px;
    }

    /*  */

    /* アバウトセクション */
    header .header-name {
        font-size: var(--font-size-14px);
    }

    .section-title.br {
        letter-spacing: .05rem;
        margin-left: 20px;
    }

    .section-sub.r {
        font-size: var(--font-size-14px);
        margin-left: 20px;
    }

    .about-section .wrapper {
        margin: 20px;
    }

    /*  */

    /* タイプセクション */
    .back-blue {
        clip-path: polygon(0% 10%,
                100% 0%,
                100% 90%,
                0% 100%);
    }

    .back-red {
        clip-path: polygon(0% 10%,
                100% 0%,
                100% 90%,
                0% 100%);
    }

    .back-blue,
    .back-red {
        padding: 40px 20px;
    }

    .style-left,
    .style-right {
        width: 20%;
    }

    .subtitle,
    .entry-blue>p,
    .entry-red>p,
    .table-sub {
        font-size: var(--font-size-14px);
    }

    .subtitle {
        letter-spacing: .1rem;
    }

    .sp-screen-text {
        display: none;
    }

    .wide-screen-text {
        display: block;
    }

    .types-section .sp-screen-text,
    .types-section .wide-screen-text {
        letter-spacing: .1rem;
    }

    .back-blue .menu-style-link,
    .back-blue .hair-style-link,
    .back-red .menu-style-link,
    .back-red .hair-style-link {
        padding: 5px 10px;
    }

    .links-list {
        gap: 50px;
    }

    /*  */

    /* メニューヘアセクション */
    .menu-hair-section .container,
    .reservation-section .container {
        padding: 30px 0 50px;
    }

    .menu-hair-section .menu-hair {
        margin: 20px 20px 0 20px;
    }

    .area-blue,
    .area-red {
        width: 90%;
    }

    .entry-blue,
    .entry-red {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding-bottom: 0;
    }

    .area-blue:not(:last-of-type) {
        margin: 0 auto 20px;
    }

    .area-blue:last-of-type {
        margin: 0 auto;
    }

    .area-red {
        margin: 0 auto 20px;
    }

    .entry-content {
        padding: 10px 20px;
    }

    .entry-content>p {
        letter-spacing: 3px;
    }

    .entry-content>p,
    .menu-hair-section .fee {
        font-size: var(--font-size-18px);
    }

    /*  */

    /* メニューオプションセクション */
    .menu-option-section .container {
        margin: 50px auto 30px;
    }

    .menu-option-section .section-title.ww {
        letter-spacing: .1rem;
    }

    .menu-option {
        width: 90%;
        margin: 20px auto;
        padding: 20px 0;
    }

    .price-table:not(:last-child) {
        margin-bottom: 20px;
    }

    .price-table {
        padding: 0 30px;
    }

    .table-sub {
        margin-left: 20px;
    }

    .menu-option-section .fee {
        font-size: var(--font-size-18px);
    }

    /*  */

    /* リーゼントフォトセクション */
    .hair-name-list {
        margin: 20px 20px 60px 20px;
    }

    .hair-name-list h3 {
        font-size: var(--font-size-24px);
        padding: 0 15px;
    }

    .modern-photos,
    .classic-photos,
    .short-photos,
    .slicked-photos,
    .textured-photos,
    .fade-photos {
        margin-bottom: 30px;
    }

    .img-scroll img {
        width: 30%;
    }

    .img-scroll::-webkit-scrollbar {
        height: 7px;
    }

    .close {
        font-size: var(--font-size-24px);
    }

    /*  */

    /* リザベーションセクション */
    .reservation-section .tel-number {
        margin-top: 20px;
    }

    .number-phone-sp {
        display: none;
    }

    .number-phone-pc {
        display: block;
        color: var(--white-color);
        font-size: var(--font-size-24px);
        font-weight: var(--font-weight-bold);
        text-align: center;
        text-decoration: none;
        letter-spacing: .05rem;
    }

    .web-reservation {
        margin: 20px auto 0;
    }

    form {
        margin-top: 20px;
    }

    label {
        font-size: var(--font-size-14px);
    }

    input[type="text"],
    input[type="tel"],
    input[type="email"],
    input[type="datetime-local"],
    textarea {
        width: 90%;
        margin-bottom: 20px;
    }

    textarea {
        height: 80px;
    }

    button.send {
        width: 40%;
    }

    /*  */

    /* アクセスセクション */
    .access-section .container {
        padding: 50px 0 30px;
    }

    .shop-info {
        margin-top: 20px;
    }

    .shop-imgs {
        width: 50%;
    }

    .outside-photo,
    .inside-photo {
        height: 40vh;
    }

    .location-contact-info {
        width: 50%;
    }

    .shop-title {
        background: linear-gradient(to right, var(--blue-color) 0%, var(--blue-color) 70%, var(--white-color) 100%);
        font-size: var(--font-size-18px);
        margin-bottom: 15px;
    }

    .postal-code {
        font-size: var(--font-size-14px);
    }

    .address {
        font-size: var(--font-size-18px);
    }

    .access-info {
        font-size: var(--font-size-16px);
    }

    .address-area,
    .access-info,
    .telephone-area,
    .business-hours-area {
        margin-bottom: 15px;
    }

    .map {
        padding-top: 50%;
    }

    /*  */

    /* ニュースセクション */
    .news-wrapper {
        width: 90%;
        padding: 0 20px;
        margin: 20px auto 0;
    }

    .news-content {
        padding: 20px;
    }

    .news-labels label {
        padding: 5px 10px;
    }

    .news-labels label:nth-child(1),
    .news-labels label:nth-child(2),
    .news-labels label:nth-child(3),
    input#news1:checked~.news-labels label[for="news1"],
    input#news2:checked~.news-labels label[for="news2"],
    input#news3:checked~.news-labels label[for="news3"] {
        font-size: var(--font-size-16px);
    }

    .news-title,
    .new-theme {
        font-size: var(--font-size-24px);
    }

    dl {
        margin-bottom: 20px;
    }

    .new-theme,
    dd:not(:last-child) {
        margin-bottom: 10px;
    }

    .news-content p:not(:last-child) {
        margin-bottom: 20px;
        text-align: center;
    }

    .contact-info p:not(:last-child) {
        margin: 20px 0;
    }

    .styling-detail p {
        text-align: center;
    }

    .sp-br {
        display: none;
    }

    .pc-br {
        display: block;
    }

    /*  */

    /* サンクセクション */
    .thankyou-box {
        margin-top: 20px;
    }

    .finish-heading {
        font-size: var(--font-size-30px);
    }

    .thankyou-box p {
        font-size: var(--font-size-18px);
        margin-top: 10px;
    }

    .reservation-actions {
        gap: 50px;
    }

    .reservation-actions,
    .in-store {
        margin-top: 30px;
    }

    .reservation-actions a {
        padding: 5px 10px;
    }

    .in-store {
        width: 70%;
    }

    /*  */

}


/* タブレットサイズ -- 701px ~ 1024px -- */
@media (min-width: 701px) and (max-width: 1024px) {

    /* 全体 */
    body {
        font-size: var(--font-size-18px);
        line-height: 1.5;
    }

    /*  */

    /* -pc-container - */
    .pc-container {
        display: flex;
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }

    .pc-back {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-image: url('../img/hp/background-img1.webp');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 0;
        filter: blur(3px);
    }

    .pc-back .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(18, 18, 18, .5);
        z-index: -1;
    }

    .left-screen {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        width: 40%;
        height: 100vh;
        left: 0;
        top: 0;
        margin: 0;
    }

    .model-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    #pomade-red,
    #chair,
    #comb,
    #pole,
    #scissors {
        width: 100%;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hint {
        color: var(--white-color);
        font-family: 'Merriweather';
        font-size: var(--font-size-18px);
        font-weight: var(--font-weight-regular);
        letter-spacing: .1rem;
    }

    .right-screen {
        display: none;
    }

    .sp-layout {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 60%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
    }

    .sp-home {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 0;
        overflow-y: auto;
    }

    /*  */

    /* メニューボタン */
    .menu-button {
        font-size: var(--font-size-18px);
        width: 65px;
        height: 65px;
        bottom: 20px;
        right: 20px;
    }

    #nav-menu {
        padding: 20px 30px;
        text-align: center;
        right: 0;
        width: 60%;

    }

    .menu-items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin-top: 60px;
    }

    .menu-items a {
        font-size: var(--font-size-18px);
    }

    .close-menu {
        right: 30px;
    }

    /*  */

    /* フッター */
    footer>p {
        font-size: var(--font-size-16px);
    }

    /*  */

    /* 共有 */
    .main-section .container {
        padding-bottom: 30px;
    }

    .concept-section .container,
    .rezent-section .container,
    .menu-section .container,
    .style-hair-section .container,
    .access-section .container,
    .news-section .container,
    .thank-section .container,
    .about-section .container,
    .types-section .container,
    .menu-option-section .container,
    .rezent-photos-section .container,
    .trend-hair-section .container {
        padding: 30px 0;
    }


    .section-title.rb {
        letter-spacing: .05rem;
        margin-left: 20px;
    }

    .section-sub.b {
        font-size: var(--font-size-14px);
        margin-left: 20px;
    }

    .header,
    .rezent-detail,
    .menu-detail,
    .type-photos-detail,
    .booking-info-detail,
    .news-detail,
    .reservation-complete-detail {
        padding-left: 20px;
    }

    /*  */

    /* ヘッダー・メインセクション */
    .title-container::before {
        background-size: 50%;
    }

    .site-name .name,
    .site-name .name-number,
    .site-name .name-sub {
        font-size: var(--font-size-14px);
    }

    .site-name {
        gap: 10px;
    }

    .main-title {
        gap: 20px;
        width: 90%;
    }

    .title,
    .title-number {
        font-size: var(--font-size-46px);
    }

    .title-sub {
        font-size: var(--font-size-30px);
    }

    .loop-text p {
        letter-spacing: .05rem;
        margin-right: 50px;
    }

    @keyframes scrollText {
        0% {
            transform: translateX(0%);
        }

        100% {
            transform: translateX(-10%);
        }
    }

    /*  */

    /* コンセプトセクション */
    .concept-section .container .section-title.rw,
    .menu-section .container .section-title.bw,
    .style-hair-section .container .section-title.rw {
        letter-spacing: .05rem;
        margin-left: 20px;
    }

    .section-sub.w {
        font-size: var(--font-size-14px);
        margin-left: 20px;
    }

    .concept-section .wrapper>p,
    .menu-section .wrapper>p,
    .style-hair-section .wrapper>p,
    .concept-section .highlight-title {
        letter-spacing: .1rem;
    }

    .concept-section .wrapper>p,
    .menu-section .wrapper>p,
    .style-hair-section .wrapper>p {
        font-size: var(--font-size-18px);
    }

    .loop-news {
        bottom: 7%;
    }

    .inner {
        gap: 150px;
    }

    .active-link {
        gap: 10px;
    }

    @keyframes scrollNews {
        0% {
            transform: translateX(0%);
        }

        100% {
            transform: translateX(-30%);
        }
    }

    .inner-title {
        font-size: var(--font-size-16px);
    }

    .text>p {
        font-size: var(--font-size-14px);
    }

    /*  */

    /* リーゼントセクション */
    .rezent-section .wrapper {
        margin: 20px;
    }

    .rezent-section .detail-link,
    .style-hair-section .detail-link {
        padding: 5px 10px;
        margin-top: 20px;
    }

    .loop-img {
        height: 120px;
        bottom: 10%;
    }

    .loop-img img {
        height: 120px;
    }

    @keyframes loop-scroll {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-60%);
        }
    }

    /*  */

    /* メニューセクション */
    .menu-section .wrapper {
        margin-top: 20px;
    }

    .menu-section .first,
    .menu-section .second {
        letter-spacing: .1rem;
    }

    .menu-section .second {
        margin-top: 10px;
    }

    .menu-section .detail-link {
        padding: 5px 10px;
        margin-top: 30px;
    }

    /*  */

    /* メニューボーダーセパレート */
    .menu-border-separator,
    .border-separator {
        width: 80%;
    }

    /*  */

    /* ヘアスタイルセクション */
    .style-hair-section .wrapper {
        margin-top: 20px;
    }

    .lead {
        margin-bottom: 10px;
    }

    .style-hair-section .second {
        margin-top: 10px;
    }

    /*  */

    /* アバウトセクション */
    header .header-name {
        font-size: var(--font-size-14px);
    }

    .section-title.br {
        letter-spacing: .05rem;
        margin-left: 20px;
    }

    .section-sub.r {
        font-size: var(--font-size-14px);
        margin-left: 20px;
    }

    .about-section .wrapper {
        margin: 20px;
    }

    /*  */

    /* タイプセクション */
    .back-blue {
        clip-path: polygon(0% 10%,
                100% 0%,
                100% 90%,
                0% 100%);
    }

    .back-red {
        clip-path: polygon(0% 10%,
                100% 0%,
                100% 90%,
                0% 100%);
    }

    .back-blue,
    .back-red {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 40px 20px;
    }

    .style-left,
    .style-right {
        margin: 0;
        width: 20%;
    }

    .description {
        margin-top: 0;
        width: 80%;
    }

    .subtitle,
    .entry-blue>p,
    .entry-red>p,
    .table-sub {
        font-size: var(--font-size-14px);
    }

    .subtitle {
        letter-spacing: .1rem;
    }

    .sp-screen-text {
        display: none;
    }

    .wide-screen-text {
        display: block;
    }

    .types-section .sp-screen-text,
    .types-section .wide-screen-text {
        letter-spacing: .1rem;
    }

    .back-blue .menu-style-link,
    .back-blue .hair-style-link,
    .back-red .menu-style-link,
    .back-red .hair-style-link {
        padding: 5px 10px;
    }

    .links-list {
        gap: 50px;
    }

    /*  */

    /* メニューヘアセクション */
    .menu-hair-back {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 100vh;
        background-image: url(../img/hp/scissors.webp);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        z-index: 0;
        filter: blur(3px);
    }

    .menu-hair-back .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(18, 18, 18, .5);
        z-index: -1;
    }

    .menu-hair-section .container,
    .reservation-section .container {
        padding: 30px 0 50px;
    }

    .menu-hair-section .menu-hair {
        margin: 20px 20px 0 20px;
    }

    .area-blue,
    .area-red {
        width: 90%;
    }

    .entry-blue,
    .entry-red {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding-bottom: 0;
    }

    .area-blue:not(:last-of-type) {
        margin: 0 auto 20px;
    }

    .area-blue:last-of-type {
        margin: 0 auto;
    }

    .area-red {
        margin: 0 auto 20px;
    }

    .entry-content {
        padding: 10px 20px;
    }

    .entry-content>p {
        letter-spacing: 3px;
    }

    .entry-content>p,
    .menu-hair-section .fee {
        font-size: var(--font-size-18px);
    }

    /*  */

    /* メニューオプションセクション */
    .menu-option-section .container {
        margin: 50px auto 30px;
    }

    .menu-option-section .section-title.ww {
        letter-spacing: .1rem;
    }

    .menu-option {
        width: 90%;
        margin: 20px auto;
        padding: 20px 0;
    }

    .price-table:not(:last-child) {
        margin-bottom: 20px;
    }

    .price-table {
        padding: 0 30px;
    }

    .table-sub {
        margin-left: 20px;
    }

    .menu-option-section .fee {
        font-size: var(--font-size-18px);
    }

    /*  */

    /* リーゼントフォトセクション */
    .hair-name-list {
        margin: 20px 20px 60px 20px;
    }

    .hair-name-list h3 {
        font-size: var(--font-size-24px);
        padding: 0 15px;
    }

    .modern-photos,
    .classic-photos,
    .short-photos,
    .slicked-photos,
    .textured-photos,
    .fade-photos {
        margin-bottom: 30px;
    }

    .img-scroll {
        flex-wrap: wrap;
        overflow-x: hidden;
        gap: 0;
    }

    .img-scroll img {
        width: 50%;
        padding: 5px;
        object-fit: cover;
        aspect-ratio: 1 / 1;
    }

    .img-scroll::-webkit-scrollbar {
        display: none;
    }

    .close {
        font-size: var(--font-size-36px);
        top: 20px;
        right: 20px;
    }

    /*  */

    /* リザベーションセクション */
    .pc-reservation-back {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 100vh;
        background-image: url(../img/hp/background-img.webp);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        z-index: 0;
        filter: blur(3px);
    }

    .pc-reservation-back .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(18, 18, 18, .5);
        z-index: -1;
    }

    .reservation-section .tel-number {
        margin-top: 20px;
    }

    .number-phone-sp {
        display: none;
    }

    .number-phone-pc {
        display: block;
        color: var(--white-color);
        font-size: var(--font-size-24px);
        font-weight: var(--font-weight-bold);
        text-align: center;
        text-decoration: none;
        letter-spacing: .05rem;
    }

    .web-reservation {
        margin: 20px auto 0;
    }

    form {
        margin-top: 20px;
    }

    label {
        font-size: var(--font-size-14px);
    }

    input[type="text"],
    input[type="tel"],
    input[type="email"],
    input[type="datetime-local"],
    textarea {
        width: 90%;
        margin-bottom: 20px;
    }

    textarea {
        height: 80px;
    }

    button.send {
        width: 40%;
    }

    /*  */

    /* アクセスセクション */
    .access-section .container {
        padding: 50px 0 30px;
    }

    .shop-info {
        margin-top: 20px;
    }

    .shop-imgs {
        width: 50%;
    }

    .outside-photo,
    .inside-photo {
        height: 40vh;
    }

    .location-contact-info {
        width: 50%;
    }

    .shop-title {
        background: linear-gradient(to right, var(--blue-color) 0%, var(--blue-color) 70%, var(--white-color) 100%);
        font-size: var(--font-size-18px);
        margin-bottom: 15px;
    }

    .postal-code {
        font-size: var(--font-size-14px);
    }

    .address {
        font-size: var(--font-size-18px);
    }

    .access-info {
        font-size: var(--font-size-16px);
    }

    .address-area,
    .access-info,
    .telephone-area,
    .business-hours-area {
        margin-bottom: 15px;
    }

    .map {
        padding-top: 50%;
    }

    /*  */

    /* ニュースセクション */
    .news-wrapper {
        width: 90%;
        padding: 0 20px;
        margin: 20px auto 0;
    }

    .news-content {
        padding: 20px;
    }

    .news-labels label {
        padding: 5px 10px;
    }

    .news-labels label:nth-child(1),
    .news-labels label:nth-child(2),
    .news-labels label:nth-child(3),
    input#news1:checked~.news-labels label[for="news1"],
    input#news2:checked~.news-labels label[for="news2"],
    input#news3:checked~.news-labels label[for="news3"] {
        font-size: var(--font-size-16px);
    }

    input#news1:checked~.news-contents #content1,
    input#news2:checked~.news-contents #content2,
    input#news3:checked~.news-contents #content3 {
        height: 700px;
    }

    .news-title,
    .new-theme {
        font-size: var(--font-size-24px);
    }

    dl {
        margin-bottom: 20px;
    }

    .new-theme,
    dd:not(:last-child) {
        margin-bottom: 10px;
    }

    .news-content p:not(:last-child) {
        margin-bottom: 20px;
        text-align: center;
    }

    .contact-info p:not(:last-child) {
        margin: 20px 0;
    }

    .styling-detail p {
        text-align: center;
    }

    .sp-br {
        display: none;
    }

    .pc-br {
        display: block;
    }

    /*  */

    /* サンクセクション */
    .thankyou-box {
        margin-top: 20px;
    }

    .finish-heading {
        font-size: var(--font-size-30px);
    }

    .thankyou-box p {
        font-size: var(--font-size-18px);
        margin-top: 10px;
    }

    .reservation-actions {
        gap: 50px;
    }

    .reservation-actions,
    .in-store {
        margin-top: 30px;
    }

    .reservation-actions a {
        padding: 5px 10px;
    }

    .in-store {
        width: 70%;
    }

    /*  */

}

/* PC -- 1025px~ -- */
@media (min-width: 1024px) {

    /* 全体 */
    body {
        font-size: var(--font-size-18px);
        line-height: 1.4;
    }

    /* -pc-container - */
    .pc-container {
        display: flex;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        position: relative;
    }

    .pc-back {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-image: url('../img/hp/background-img1.webp');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 0;
        filter: blur(3px);
    }

    .pc-back .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(18, 18, 18, .5);
        z-index: -1;
    }

    .left-screen {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        width: calc((100% - 378px) /2);
        height: 100vh;
        left: 0;
        top: 0;
        margin: 0;
    }

    .model-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    #pomade-red,
    #chair,
    #comb,
    #pole,
    #scissors {
        width: 100%;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hint {
        color: var(--white-color);
        font-family: 'Merriweather';
        font-size: var(--font-size-18px);
        font-weight: var(--font-weight-regular);
        letter-spacing: .1rem;
    }

    .right-screen {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        width: calc((100% - 378px) /2);
        height: 100vh;
        right: 0;
        top: 0;
        margin: 0;
    }

    .sp-layout {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 378px;
        height: 100vh;
        margin: 0 auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        overflow: hidden;
    }

    .sp-home {
        position: relative;
        width: 378px;
        height: 100vh;
        z-index: 0;
        overflow-y: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .pc-side-menu {
        text-align: center;
        padding: 15px;
    }

    .pc-side-menu li {
        color: var(--white-color);
        font-family: 'Merriweather';
        font-size: var(--font-size-24px);
        font-weight: var(--font-weight-regular);
        letter-spacing: .1rem;
        transition: transform 0.3s ease;
    }

    .pc-side-menu li:not(:last-child) {
        margin-bottom: 10px;
    }

    .pc-side-menu a {
        transition: transform 0.8s ease, color 0.8s ease;
    }

    .pc-side-menu li:hover {
        color: var(--red-color);
        transform: rotateX(360deg);
    }

    /*  */

    /* 追従メニュー */
    .menu-button {
        display: none;
    }

    /*  */

    /* フッター */
    footer>p {
        font-size: var(--font-size-16px);
    }

    /*  */

    /* 共通 */
    .main-section .container {
        min-height: 80vh;
        margin-bottom: 0;
        padding-bottom: 30px;
    }

    .title-container {
        min-height: 80vh;
    }

    .reservation-section .container,
    .menu-hair-section .container,
    .concept-section .container,
    .rezent-section .container,
    .menu-section .container,
    .style-hair-section .container,
    .access-section .container,
    .news-section .container,
    .access-section .container {
        min-height: 80vh;
    }

    .thank-section .container {
        min-height: 100vh;
    }

    /*  */

    /* リーゼントセクション */
    .loop-img {
        height: 120px;
        bottom: 10%;
    }

    .loop-img img {
        height: 120px;
    }

    /*  */

    /* メニューヘアセクション */
    .menu-hair-back {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 100vh;
        background-image: url(../img/hp/scissors.webp);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        z-index: 0;
        filter: blur(3px);
    }

    .menu-hair-back .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(18, 18, 18, .5);
        z-index: -1;
    }

    /*  */

    /* リーゼントフォトセクション */
    .img-scroll {
        flex-wrap: wrap;
        overflow-x: hidden;
        gap: 0;
    }

    .img-scroll img {
        width: 50%;
        padding: 5px;
        object-fit: cover;
        aspect-ratio: 1 / 1;
    }

    .close {
        font-size: var(--font-size-36px);
        top: 30px;
        right: 30px;
    }

    /*  */

    /* リザベーションセクション */
    .pc-reservation-back {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 100vh;
        background-image: url(../img/hp/background-img.webp);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        z-index: 0;
        filter: blur(3px);
    }

    .pc-reservation-back .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(18, 18, 18, .5);
    }

    /*  */

    /* アクセスセクション */
    .outside-photo,
    .inside-photo {
        height: 30vh;
    }

    /*  */

    /* サンクセクション */
    .thankyou-box p {
        margin-top: 10px;
    }

    .in-store {
        margin-top: 30px;
    }

    /*  */
}